html, body, #app {
  height: 100%;
}

body {
  margin: 0;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.table-opr-wrap button,
.table-opr-wrap a{
  margin: 5px 10px;
}
.table-filter {
  padding-top: 20px;
  margin-bottom: 20px;
}
.table-filter button {
  margin-right: 20px;
}
.full-height {
  height: 100%;
}